body{
    margin : 0;
    padding : 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    min-height: 400px;
}
button{
    background: #469e13;
    font-weight: bold;
    border: 1px solid #469e13;
    padding : 7px 20px 7px 20px;
    color: white;
    border-radius: 2px;
    margin-top: 5px;
}
input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; 
    height: 35px;
    color: black;
    font-style: italic;
    font-size: 15px;
    /* the above makes the input box appear in the browser */
}
p{
    color: black;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
li{
    margin-top: 5px;
}
li a{
    color: #469e13;
    font-weight: bold;
}
#delete-al{
background: white;
color: #469e13;
}